@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Raleway&family=Roboto:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Loader */
.lds-ring {
  /* display: inline-block; */
  position: relative;
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 8px;
  border: 4px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.link-active,
.link-inactive {
  width: 28px;
  height: 28px;
}

.link-active path {
  fill: #1c2331;
}

.link-inactive path {
  fill: #a9abb0;
}

.loaded {
  filter: none;
  transition: filter 0.3s ease-in-out;
}

.loading {
  filter: blur(10px); /* o el valor de desenfoque que necesites */
  transition: filter 0.3s ease-in-out;
}

.header-loader span {
  width: 100% !important;
}

.item-image-loader span {
  width: 100% !important;
  border-radius: 6px;
  overflow: hidden;
}

.product-description p {
  margin-bottom: 15px;
}

.product-description p:last-child {
  margin-bottom: 0;
}

/* dark loader */

.lds-ring-dark {
  /* display: inline-block; */
  position: relative;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
}

.lds-ring-dark div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 8px;
  border: 3px solid #1c2331;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #1c2331 transparent transparent transparent;
}

.lds-ring-dark div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring-dark div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring-dark div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.price-container-input > div {
  width: 100% !important;
}
